
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #001ac0;
}


.top-bar {
  height: 100px;
  width: 100%;
  display: flex;
  
}





.container {
  display: flex;
  min-height: calc(100vh - 100px);
  margin-top: 5px;
}





.content {
  flex: 1;
  padding: 30px;
  background: #eef1ff;
  margin-left: 5px;
  margin-bottom: 5px;
  
}


.box {
  background: #dfe5ff;
  margin-bottom: 20px;
  padding: 20px;
  color: #0a0a3c;
  border-radius: 50px;
}


.box h2 {
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}




.wide {
  height: 100px;
}


.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; /* responsive */
  margin-bottom: 20px;
}

.card {
  display: flex;
  flex-direction: column;  
  justify-content: space-between; 
  flex: 1;
  min-width: 200px;
  height: 300px; 
  background: #c7d1ff;
  border-radius: 50px;
  
}


.card h3 {
  font-size: 18px;
  margin-bottom: 8px;
  color: #0a0a3c;
}


.card p {
  font-size: 14px;
  color: #1a1a4f;
  text-align: center;
}
.card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-bottom: 10px;
}


#footercard {
  margin-top: 10px;
  background-color: #04044a;
  color: white;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}




.footer {
  background: #0a0a3c;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.footer h4,
.footer p {
  color: white;
  margin-bottom: 8px;
}



