
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #001ac0;
}

.header-left {
  flex: 0.15;
  background: #bfcaff;
  display: flex;
  align-items: center;
  padding: 5px 50px;
  margin-right: 5px;
}


.header-right {
  flex: 2;
  background: #6f86ff;
  display: flex;
  align-items: center;
  justify-content: center;
}


.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.profile-pic {
  width: 70px;
  height: 50px;
  background: #e6ebff;
  border-radius: 50%;
}



.top-bar {
  height: 100px;
  width: 100%;
  display: flex;
  
}
.cards .news-card img {
  height: 150px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  object-fit: cover;
}

.newsbox {
  background: #dfe5ff;
  margin-bottom: 20px;

  color: #0a0a3c;
  border-radius: 10px;

}

#News_Text {
  display: inline-block;   /* makes the box fit content */
  background-color: #04044a;
  color: white;
  padding: 10px 20px;      /* spacing inside the box */
  border-radius: 10px;     /* optional rounded corners */
  margin-bottom: 20px;
  font-size: 24px;         /* adjust font size as needed */
}

#newsimage{
width: 200px;
  object-fit: cover;
  border-radius: 20px;
  padding-left: 5px;
  padding-top: 5px;

}


.logo {
  display: flex;              
  align-items: center;        
  gap: 10px;                 
  width: 200px;  
  
  height: 50px;             
  background: white;
  color: #6f86ff;
  border-top-left-radius: 90px;
  border-bottom-left-radius: 90px;
  border-color: #04044a;

  border-width: 2px;
  border-style: solid;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.logo img {
  width: 80px;                
  height: 80px;
  border-radius: 50%;         
  object-fit: cover;
  border-color: #04044a;
  border-style: solid;
  border-width: 2px;      
                
}

.sidebar {
  width: 247px;
  background: #04044a;
  padding: 20px;
  margin-bottom: 5px;
  
}

.sidebar .line {
  color: white;
  margin-bottom: 15px;
  padding: 8px;
  cursor: pointer;
}


.container {
  display: flex;
  min-height: calc(100vh - 100px);
  margin-top: 5px;
}





.content {
  flex: 1;
  padding: 30px;
  background: #eef1ff;
  margin-left: 5px;
  margin-bottom: 5px;
  
}


.box {
  background: #dfe5ff;
  margin-bottom: 20px;
  padding: 20px;
  color: #0a0a3c;
  border-radius: 50px;
}


.box h2 {
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}




.wide {
  height: 100px;
}


.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; /* responsive */
  margin-bottom: 20px;
}

.card {
  display: flex;
  flex-direction: column;  
  justify-content: space-between; 
  flex: 1;
  min-width: 200px;
  height: 300px; 
  background: #c7d1ff;
  border-radius: 50px;
  
}


.card h3 {
  font-size: 18px;
  margin-bottom: 8px;
  color: #0a0a3c;
}


.card p {
  font-size: 14px;
  color: #1a1a4f;
  text-align: center;
}
.card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-bottom: 10px;
}


.footercard {
  margin-top: 10px;
  background-color: #04044a;
  color: white;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}




.footer {
  background: #0a0a3c;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.footer h4,
.footer p {
  color: white;
  margin-bottom: 8px;
}



