
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #3E4E85;
}

.header-left {
  flex: 0.24;
  background: #6D8AFF;
  display: flex;
  align-items: center;
  padding: 5px 50px;
  margin-right: 5px;
}

#studentinfo img {
  width: 200px;
  height: 200px;       
  object-fit: cover;
  border-radius: 50%;  
  padding-left: 5px;
  padding-top: 5px;
  border-color: #001ac0;
  border-style: solid;
  margin-right: 5px;
}
#studentinfo{
  display: flex;
align-items: center;}

.links {
  text-decoration: none;
  color: white;
  font-size: medium;

}

.header-right {
  flex: 2;
  background: #B3C2FF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.profile-pic {
  width: 70px;
  height: 70px;
  background: #e6ebff;
  border-radius: 50%;
}


.top-bar {
  height: 100px;
  width: 100%;
  display: flex;
  
}
.cards .news-card img {
  height: 150px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  object-fit: cover;
}

.newsbox {
  background: #B3C2FF;
  margin-bottom: 20px;
  display: flex;
  align-items: center;


  color: #0a0a3c;
  border-radius: 10px;

}
.newsbox h1{
  padding-left: 90px;
}

.Page_Titel {
  display: inline-block;   
  background-color: #04044a;
  color: white;
  padding: 10px 20px;      
  border-radius: 10px;     
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 24px;         
}
.aboutUsimg{
width: 200px;
  object-fit: cover;
  border-radius: 20px;
  
  

}
.newsimage{
width: 200px;
  object-fit: cover;
  border-radius: 20px;
  padding-left: 5px;
  padding-top: 5px;

}
.News_Section {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; 
  margin-bottom: 20px;
padding-bottom: 5px;
}

.AboutUs_box {
  display: flex;               
  gap: 30px;                   
    
  flex-wrap: wrap;  
   
  margin-bottom: 5px;          
}

.pillar {
  background-color: #6D8AFF;  
  padding: 5px;
  border-radius: 20px;       

  width: 200px;
  height: 350px;
  
  
  text-align: center;  
  margin-bottom: 4px;        
}

.course-index-cards{
  display: flex;
  flex-direction: column;  
  justify-content: space-between; 
  flex: 1;
  min-width: 200px;
  height: 300px; 
  background: #6D8AFF;
  border-radius: 20px; 
  
}
.course-index-cards h1 {
  font-size: 31px;
  margin-bottom: 8px;
  
  text-align: center;
  margin: auto;
  text-decoration: none;
}
.course-index-cards h1 a {
  text-decoration: none;
  color: #0a0a3c;
}


.contactinfo {
 background-color: #bfcaff;
  border-radius: 10px;
  padding: 20px;
}
.contactinfo button {
  background-color: #04044a;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.form-group {
  margin-bottom: 15px;
  text-align: left; 
}
.pillar img {
  width: 100%;
  height: auto;
  border-radius:20px;
  margin-bottom: 15px;
}

.logo {
                
  align-items: center;        
  gap: 10px;                 
  width: 250px;  
  position: absolute;
  top: 70px;
  left: 210px;
  z-index: 10;

  height: 90px; 
  margin-bottom: 20px;
          


  font-size: 20px;
  font-weight: bold;
  
}

.logo img {
  width: 80%;
  background-color: #010044;
    border-color: #3E4E85;

  border-width: 5px;
  border-style: solid;
    border-top-left-radius: 90px;
  border-bottom-left-radius: 90px;
  border-top-right-radius: 90px;
  border-bottom-right-radius: 90px;

   
                
}

.sidebar {
  width: 247px;
  background: #04044a;
  padding: 20px;
  margin-bottom: 5px;
  
}

.sidebar .line {
  color: white;
  margin-bottom: 15px;
  padding: 8px;
  cursor: pointer;
}

.container {
  display: flex;
  min-height: calc(100vh - 100px);
  margin-top: 5px;
}

.hi{display: flex;
  gap:20px ;
  margin-bottom: 15px;}

.course-card {
  position: relative;
  background: #bfcaff;
  padding: 10px;
  margin-bottom: 50px;
  
  gap: 20px;
  border-radius: 10px;
}

.course-left img {
width: 200px;
  object-fit: cover;
  border-radius: 20px;
  padding-left: 5px;
  padding-top: 5px;
}

.button-section {
  position: relative;
  margin-bottom: 40px;   
}

.button-row {
  display: flex;
  gap: 90px;
  justify-content: center;
  
}

.button-row img {
  width: 200px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
}

.arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #1d0fdf;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.arrow.left {
  left: 40px;}

.arrow.right {
  right: 90px;  
}

.course-info {
  flex: 1;
}

.text-line {
  height: 8px;
  background: #bdbdbd;
  margin-bottom: 14px;
  border-radius: 4px;
  margin-top: 5px;
}


.content {
  flex: 1;
  padding: 30px;
  background: #eef1ff;
  margin-left: 5px;
  margin-bottom: 5px;
  
}

.box {
  background: #B3C2FF;
  margin-bottom: 20px;
  padding: 20px;
  color: #0a0a3c;
  border-radius: 20px; 
  margin-top: 20px;
}

.box h2 {
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}


.aboutUs-card p {
  font-size: 14px;
  color: #1a1a4f;

}
.aboutUs-card img {
  
  height: 180px;
  
  border-radius: 10px;

  margin-bottom: 10px;
  object-fit: cover;
  margin-right: 10px;
 
}

.wide {
  height: 100px;
}

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; 
  margin-bottom: 20px;
  
}

.card {
  display: flex;
  flex-direction: column;  
  justify-content: space-between; 
  flex: 1;
  min-width: 200px;
  height: 300px; 
  background: white;
  border-radius: 20px;
  
}

.card h3 {
  font-size: 18px;
  margin-bottom: 8px;
  color: #0a0a3c;
}

.card p {
  font-size: 14px;
  color: #1a1a4f;
  text-align: center;
}
.card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 10px;
}

.footercard {
  margin-top: 10px;
  background-color: #04044a;
  color: white;
  padding: 15px;
  text-align: center;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}



.footer {
  background: #0a0a3c;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.footer h4,
.footer p {
  color: white;
  margin-bottom: 8px;
}
@media (max-width: 768px) {
    .sidebar { width: 100%; }
    .button-row { flex-direction: column; gap: 20px; }
}





