
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #001ac0;
}

.top-bar {
  height: 100px;
  width: 100%;
  display: flex;
  
}


.container {
  display: flex;
  min-height: calc(100vh - 100px);
  margin-top: 5px;
}



.content {
  flex: 1;
  padding: 30px;
  background: #eef1ff;
  margin-left: 5px;
  margin-bottom: 5px;
  
}


.box {
  background: #dfe5ff;
  margin-bottom: 20px;
  padding: 20px;
  color: #0a0a3c;
  border-radius: 50px;
}


.box h2 {
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}












.footer {
  background: #0a0a3c;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.footer h4,
.footer p {
  color: white;
  margin-bottom: 8px;
}



